<div class="row">
    <br>

    <div class=" col-xs-12">
      <ul id="highlighted_properties" data-update-url="<%= sort_admin_highlighted_properties_url %>">
      <% @highlighted_properties.each do |highlighted| %>
        <li id="highlighted_properties_<%= highlighted.id %>" class="col-xs-3" style="list-style:none;">
          <div class="col-xs-12 property-img">
            <a title="Terras vizinhas" class="fancybox" href="">
              <img src="<%= highlighted.property.get_cover.file.thumb('288x216#').url %>" class="img-responsive thumbnail" alt=""/>
            </a>
            <button class="btn btn-danger delete" onClick='javascript:return select_delete();' data-original-title="Bold - Ctrl+B">
              <i class="fa fa-times fa-2x"></i>
            </button>
          </div>
          <div class="reference">
            <h4>Ref: <%= highlighted.property.id %></h4>
          </div>
      </li>
      <% end %> 
  </div>