<div id="tab2" class="tab-pane">

            <div class="btn-toolbar">
              <div class="btn-group" data-toggle="buttons-radio">
                <button class="btn" onClick='javascript:return resort_images();' data-original-title="Bold - Ctrl+B">
                  <i class="fa-icon-move"></i>
                  Ordenar
                </button>
                <button class="btn" onClick='javascript:return select_cover();' data-original-title="Italic - Ctrl+I">
                  <i class="fa-icon-picture"></i>
                  Selecionar capa
                </button>
                <button class="btn" onClick='javascript:return select_website_images();' data-original-title="Italic - Ctrl+I">
                  <i class="fa-icon-globe"></i>
                  Website
                </button>
                <button class="btn" onClick='javascript:return select_mobile_images();' data-original-title="Italic - Ctrl+I">
                  <i class="fa-icon-tablet"></i>
                  Catálogo Móvel
                </button>
              </div>
              

              <button class="btn btn-danger" onClick='javascript:return select_delete();' data-original-title="Bold - Ctrl+B">
                <i class="fa-icon-remove"></i> 
                Excluir
              </button>
              <button class="btn btn-primary" onClick='javascript:return deactivate_all();' data-original-title="Bold - Ctrl+B">
                <i class="icon-ok icon-white"></i> 
                Salvar alterações
              </button>

              <a href="#static" data-url="<%= admin_property_pictures_upload_path(:property_id => @property.id)%>" data-toggle="modal" class="pictures-upload-button btn btn-success"><i class="fa-icon-upload-alt"></i> Adicionar</a>  


            </div>

            <ul id="sortable">
              <% if @pictures.count > 0 %>
                <% @pictures.each do |picture| %>
                  <li class="ui-state-default wrapper span3">

                    <a title="Terras vizinhas" class="fancybox" href="<%= picture.file.url %>">
                      <img src="<%= picture.file.thumb('288x216#').url %>" alt=""/>
                    </a>
                    <div class="published">
                      <i class="fa-icon-globe" data-toggle="tooltip" title="Disponivel no website" style="display: none;"></i>
                      <i class="fa-icon-tablet" data-toggle="tooltip" title="Não está disponivel no catálogo móvel" style="display: none;"></i>       

                    </div>

                    <div class="delete-picture">
                      <i class="fa-icon-remove" data-toggle="tooltip" title="Disponivel no website" style="display: none;"></i>
                    </div>
                  </li>
                  
                <% end %>
              <% end %>
            </ul>

          </div>

          <script>
(function() {
  $('.pictures-upload-button').click(function() {
    var url;

    url = $(this).data('url');
    return $.ajax({
      url: url,
      type: "GET",
      success: function(data) {
        return $('#static .modal-body').html(data);
      },
      error: function() {
        return $('#static .modal-body').html("ERROR");
      }
    });
  });

}).call(this);

$.fn.modal.defaults.height = function(){
    // subtract the height of the modal header and footer
    return $(window).height() - 265; 
}
$.fn.modal.defaults.width = 750;
</script>

<div id="static" class="modal hide fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">    
    <button type="button" data-dismiss="modal" class="btn close-modal">Fechar</button>
    <h2>Adicionar novas fotografias</h2>
  </div>
  <div class="modal-body">
    <p>Carregando...</p>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Fechar</button>
  </div>
</div>