<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Brito Negócios Imobiliários</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http:\\netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <link  href="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.css" rel="stylesheet"> <!-- 3 KB -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .carousel-caption {
        bottom: 0px;
        background-color: black;
        opacity: 0.65;
        left: 0px;
        right: 0px;
        padding-top: 15px;
        padding-bottom: 25px;
      }
      .carousel-indicators {
        bottom: -5px;
      }
      .title-divider {
        text-align: left;
        //margin-bottom: 1em;
        background: #ffffff url(./bg_divider.png) left center repeat-x;
        padding: 0;
      }
      .title-divider span {
        background: #ffffff;
        padding-right: 0.5em;
      }
      .title-divider small {
        display: block;
        color: rgba(51, 51, 51, 0.6);
      }
      .block .title {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 0 0.5em 0;
        line-height: 1;
      }
      #map_canvas {
        width: 350px;
        height: 250px;
      }
      .divider {
        width: auto;
        height: 0px;
        border-top: 1px solid #969696;
        border-bottom: 1px solid #fff;
        margin: 15px 0;
      }
      .title-divider h2{        
        border-bottom: 1px solid #959595;
      }
      body {
        background: url('./img/pattern/whitey.png');
      }
      .index-header{
        background: url('./img/pattern/low_contrast_linen.png');
        background-color: #313131;
        border-bottom: 1px solid #313131;
        display: block;
        color: #E3E3E3;
      }
     </style>
  </head>

  <body>
    
    <div class="index-header">
    <div class="container">
      <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
        <div style="float: left;">
          <h1>Brito Negócios Imobiliários</h1>
        </div>
        <div style="float: right;">
          <h1>Contato: (51) 9776-6603</h1>
        </div>
      </div>
      <div class="col-sm-12 hidden-lg hidden-md hidden-xs">
        <div style="float: left;">
          <h3>Brito Negócios Imobiliários</h3>
        </div>
        <div style="float: right;">
          <h3>Contato: (51) 9776-6603</h3>
        </div>
      </div>
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
        <div style="float: left;">
          <h5>Brito Negócios Imobiliários</h5>
        </div>
        <div style="float: right;">
          <h5>Contato: (51) 9776-6603</h5>
        </div>
      </div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <!-- <a class="navbar-brand" href="/">          
          Differential          
        </a> -->
        <ul class="nav navbar-nav pull-left visible-lg">


          <li class="active"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
          <li class=""><a href="/imoveis.html">Imóveis</a></li>
          <li class=""><a href="/about">Sobre nós</a></li>
          <li class=""><a href="/contact">Contato</a></li>


        </ul>

        <a class="mobile-menu-trigger pull-right hidden-lg" href="#mobileNav"> <i class="icon-reorder"></i>
        </a>

        <div id="mobile-menu" style="display: none;">
          <ul>
            <li class=""><a href="/about">About</a></li>
            <li class=""><a href="/companies">Companies</a></li>
            <li class=""><a href="/team">Team</a></li>
            <li class=""><a href="/blog">Blog</a></li>
            <li class=""><a href="/connect">Jobs</a></li>
            <li class=""><a href="/contact">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row-fluid">
            <div class="col-lg-8">
              <!-- 2. Add images to <div class="fotorama"></div>. -->
              <div class="fotorama"
                   data-nav="thumbs"
                   data-width="100%"
                   data-ratio="800/600"
                   data-thumb-height"46">

                   <% if @pictures.count > 0 %>
                      <% @pictures.each do |picture|%>
                        <a href="<%= picture.file.thumb('730x548#').url %>">
                          <img src="<%= picture.file.thumb('98x64#').url %>">
                        </a>
                      <% end %>
                    <% end %>
              </div>
              <!-- // GALLERY START // -->
              <!-- 
                IMPORTANT NOTE: Each property gallery must have an unique ID for the gallery 
                        function to work properly. This unique ID must reflect the folder 
                        name which contains all the corresponding property images.
                        
                        **Please refer to the documentation for further usage:
                        * IMPORTANT:
                        * id   = [PLACE IMAGE FOLDER NAME] 
                        * data = [PLACE TEXT TO BE DISPLAYED FOR ATTENTION - LEAVE "" FOR BLANK]
                        * num  = [NUMBER OF IMAGES AND CORRESPONDING THUMBNAILS WHICH WILL BE DISPLAYED]
              -->
              
              <!-- <div class="gallery"  id="property_name" data-sticker="HOT" data-num="20">
                <p>Please enable your javascript to view this gallery</p>
              </div>
              <! gallery end -->
              
              <!-- about property --> 
              <div class="row-fluid property-info">
                  <h4>About the property</h4>
                  
                  <p class="description">
                    Reflecting the status of this desirable destination a 4/5 bedroom townhouses at Terrace Yard offers 
                    contemporary living in unmatched style and elegance. With a high specification throughout, secure private 
                    undercroft parking behind remotely controlled access gates and Berkeley's quest for excellence, these are 
                    homes of unparalleled appeal. Imposing, contemporary architecture sets the scene for the sleek style of the 
                    interiors at Terrace Yard, where form blends perfectly with function to create homes beautifully designed for 
                    modern living. Living areas have been designed as fluid spaces, seamlessly linking rooms to provide an 
                    environment that's perfect for entertaining and family life alike.
                  </p>
        
                  <p class="description">
                    At the heart of the home, the kitchens feature Italian designer furniture, reflecting the cutting edge, 
                    contemporary architecture. Stone worktops, glass back panelling, mood lighting and a comprehensive range 
                    of Siemens appliances enhance the appeal of this functional space creating an ultimate environment of luxury 
                    living.
                  </p>
        
                  <p class="description">
                    <strong>Features:</strong> Living room, dining room, kitchen, 
                    powder room, lanai, carport, laundry area. masters bedroom with toilet and bathroom, terrace, hallway.
                  </p>
                  <p class="description">
                    Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                  </p>
                  
              </div>
              <!-- end about property --> 
            </div>
            <!-- end span8 -->  
            
            <div class="col-lg-4 col-md-4">
              <!--key features-->
              <h4>Características do imóvel:</h4>
              <div class="property-info">
              <ul class="property-info">
                <li><strong>Quartos:</strong> 2 </li>
                <li><strong>Banheiros:</strong> 5</li>
                <li><strong>Estacionamento</strong> 1</li>
                <li><strong>Categories :</strong> Lot</li>
                <li><strong>Location :</strong> Toronto, Ontario</li>
                <li><strong>Floor Size :</strong> 2269 sq.m.</li>
              </ul>
              <p class="asking-price">
                   <h2><span class="label label-default">Valor: R$259.000,00 </span></h2>
                  </p>
              </div>
              
              <!--divider-->
              <!-- <div class="divider"></div> -->
              
              <!--single map-->
              <!-- <h4>Localização:</h4>
              <div id="map_canvas"></div> -->
              <br>
              <!--divider-->
              <div class="divider"></div>
              <!-- contact agent form -->
              <div id="message"></div>
                <form role="form">
                  <h3>Contato sobre este imóvel:</h3>
                  <div class="form-group">
                    <input class="form-control" placeholder="Nome" name="fullname" type="text">
                  </div>

                  <div class="form-group">  
                    <input class="form-control" placeholder="Email" name="fullname" type="text">
                  </div>

                  <div class="form-group">  
                    <input class="form-control" placeholder="Telefone" name="fullname" type="text">
                  </div>

                  <div class="form-group">
                    <textarea class="form-control" rows="6" placeholder="Mensagem"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-md-6">
                      <input type="submit" value="Pesquisar" class="btn btn-success btn-block btn-lg" tabindex="7">
                    </div>
                  </div>
                </form>
                        <!-- end contact agent form --> 
            </div>

          </div><!-- end row-fluid -->

    </div> <!-- /container -->

</body></html>