<div class="col-xs-12">
  <%= simple_form_for [:admin, City.new], url: admin_cities_path, html: { :class => '' } do |f| %>
    <div class="form-group">
      <div class="col-xs-5">
        <%= f.input_field :name, placeholder: 'Ex. Taquara'%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-3">
        <%= f.input_field :state_id, collection: State.order(:name), label_method: :name, value_method: :id, include_blank: "Selecione o estado" %>
        </div>
    </div>
    <div class="form-group">
      <div class="col-xs-2">
        <%= submit_tag "Criar Cidade", :name => nil, :class => 'btn btn-success' %>
        </div>
    </div>
  <% end %>
</div>
