.carousel-caption {
  bottom: 0px;
  background-color: black;
  opacity: 0.65;
  left: 0px;
  right: 0px;
  padding-top: 15px;
  padding-bottom: 25px;
}
.carousel-indicators {
  bottom: -5px;
}
.title-divider h2{        
  border-bottom: 1px solid #959595;
}
body {
  background: url('/assets/whitey.png');
}
.index-header{
  background: url('/assets/low_contrast_linen.png');
  background-color: #313131;
  border-bottom: 1px solid #313131;
  display: block;
  color: #E3E3E3;
}

.index-footer{
  border-top: 3px solid black;
  background: url('/assets/low_contrast_linen.png');
  background-color: #313131;
  border-bottom: 1px solid #313131;
  display: block;
  color: #E3E3E3;
}
