<h1>Edit property</h1> 

<div class"pull-right col-lg-3">
  <a href="<%= admin_property_pictures_path(@property)%>" class="btn btn-success pull-right spaced">
                  <i class="fa fa-plus">
                  </i> Novo abastecimento</a>
</div>

<%= render 'form' %>

<%= link_to 'Back', properties_path %>