

      <div class="row">
        <br>
        <div id="tools" class="col-lg-12">
          <div class="row">
            <div class="col-lg-2 pull-right">
              <a href="#" class="pull-right btn btn-success"><i class="fa fa-plus"></i> Novo Imóvel</a>
            </div>
            <div class="col-lg-2 btn-group pull-right">
                <button type="button" class="pull-right btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Ordenar por
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Código de referência</a></li>
                  <li><a href="#">Valor</a></li>
                </ul>
            </div>
            
            <div class="col-lg-4 pull-right">
              <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Pesquisar </button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->

        </div>

        <div id="properties">
            <table class="table col-lg-12 col-md-12 col-sm-12">
                <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-star" data-toggle="tooltip" title="Imóvel em destaque"></i>
                            <i class=" fa fa-2x fa-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                            <i class=" fa fa-2x fa-tablet" style="color: rgb(211, 211, 211);"data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>
                        </td>
                        <td class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                            <img class="img-responsive" src="http://britoimoveis.net/sitios/1.jpg" alt="">
                        </td>
                        <td>
                            <b>
                                Ref: 00128
                            </b>
                            <br>
                            <b> Proprietário: </b>
                            Jean Brito, Carolina Pohren
                            <br>
                            <b> Casa para Aluguel </b>
                            <br>
                            <b> Localidade: </b>
                            Centro, Taquara - RS
                            <br>
                            <b> Valor: </b>
                            R$ 1.000.000,00
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="#" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-star" style="color: rgb(211, 211, 211);"data-toggle="tooltip" title="Imóvel não está em destaque"></i>
                            <i class="fa fa-2x fa-globe" data-toggle="tooltip" title="Disponivel no website"></i>
                            <i class="fa fa-2x fa-tablet" data-toggle="tooltip" title="Disponivel no catálogo móvel"></i>
                        </td>
                        <td>
                            <img class="img-responsive" src="http://britoimoveis.net/sitios/2.jpg" alt="ALT NAME">
                        </td>
                        <td>
                            <b>
                                Ref: 00256
                            </b>
                            <br>
                            <b> Proprietário: </b>
                            Vitor Mateus de Brito
                            <br>
                            <b> Sítio para Venda </b>
                            <br>
                            <b> Localidade: </b>
                            15 de Novembro, Igrejinha - RS
                            <br>
                            <b> Valor: </b>
                            R$ 2.750.000,00
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="#" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-star" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Imóvel não está em destaque"></i>
                            <i class="fa fa-2x fa-globe" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no website"></i>
                            <i class="fa fa-2x fa-tablet" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>
                        </td>
                        <td>
                            <img class="img-responsive" src="http://britoimoveis.net/sitios/3.jpg" alt="ALT NAME">
                        </td>
                        <td>
                            <b>
                                Ref: 00512
                            </b>
                            <br>
                            <b> Área para Venda </b>
                            <br> 
                            <b> Proprietário: </b>
                            Jean Brito
                            <br>
                            <b> Localidade: </b>
                            Jardim do Prado, Taquara - RS
                            <br>
                            <b> Valor: </b>
                            R$ 1.000.000,00
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="#" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-star" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Imóvel não está em destaque"></i>
                            <i class="fa fa-2x fa-globe" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no website"></i>
                            <i class="fa fa-2x fa-tablet" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>
                        </td>
                        <td>
                            <img class="img-responsive" src="http://britoimoveis.net/sitios/3.jpg" alt="ALT NAME">
                        </td>
                        <td>
                            <b>
                                Ref: 00512
                            </b>
                            <br>
                            <b> Área para Venda </b>
                            <br> 
                            <b> Proprietário: </b>
                            Jean Brito
                            <br>
                            <b> Localidade: </b>
                            Jardim do Prado, Taquara - RS
                            <br>
                            <b> Valor: </b>
                            R$ 1.000.000,00
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="#" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-star" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Imóvel não está em destaque"></i>
                            <i class="fa fa-2x fa-globe" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no website"></i>
                            <i class="fa fa-2x fa-tablet" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>
                        </td>
                        <td>
                            <img class="img-responsive" src="http://britoimoveis.net/sitios/3.jpg" alt="ALT NAME">
                        </td>
                        <td>
                            <b>
                                Ref: 00512
                            </b>
                            <br>
                            <b> Área para Venda </b>
                            <br> 
                            <b> Proprietário: </b>
                            Jean Brito
                            <br>
                            <b> Localidade: </b>
                            Jardim do Prado, Taquara - RS
                            <br>
                            <b> Valor: </b>
                            R$ 1.000.000,00
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="#" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-2x fa-star" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Imóvel não está em destaque"></i>
                            <i class="fa fa-2x fa-globe" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no website"></i>
                            <i class="fa fa-2x fa-tablet" style="color: rgb(211, 211, 211);" data-toggle="tooltip" title="Não está disponivel no catálogo móvel"></i>
                        </td>
                        <td>
                            <img class="img-responsive" src="http://britoimoveis.net/sitios/3.jpg" alt="ALT NAME">
                        </td>
                        <td>
                            <b>
                                Ref: 00512
                            </b>
                            <br>
                            <b> Área para Venda </b>
                            <br> 
                            <b> Proprietário: </b>
                            Jean Brito
                            <br>
                            <b> Localidade: </b>
                            Jardim do Prado, Taquara - RS
                            <br>
                            <b> Valor: </b>
                            R$ 1.000.000,00
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary"> Abrir Imóvel</a>
                            <a href="#" class="btn btn-default">
                                <i class="fa fa-edit"></i> Editar</a>                
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>